/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#details,
#submit {
    display: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/* ------- loader codes taken from ("https://stackabuse.com/loading-animation-in-vanilla-javascript/") */

.loader-container {
    height: 110vh;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto auto auto auto;
    position: fixed;
    background: #000;
    z-index: 1;
}

#loader {
    display: none;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: green transparent green transparent;
    border-radius: 50%;
    margin: 20% auto auto auto;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.logo {
    height: 200px;
    width: 200px;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: auto auto;
    background-color: #fdfdfd;
    border-radius: 20px;
}


@media only screen and (max-width: 900px) {
    .spinner {
        margin: 40% auto 50% auto;
    }
}

@media only screen and (min-width: 600px) {
    .flex {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .spinner {
        margin: 75% auto 50% auto;
    }
}

@media only screen and (min-width: 400px) {
    .flex {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
    }

    .spinner {
        margin: 15% auto 16%;
    }
}